@attribute [Route(AppRoutes.Navigation.MapEditor.Index)]
@attribute [Authorize (Policy = Permissions.Navigation.MapEditor.Read)]
@attribute [Authorize (Policy = Permissions.Navigation.Waypoints.Read)]
@using LGDXRobotCloud.UI.Components.Pages.Navigation.Waypoints.Components
@using LGDXRobotCloud.UI.Components.Pages.Navigation.MapEditor.Components

<PageHeader Title="Map Editor">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Map Editor
      </h2>
      <div class="text-secondary mt-1">
        <i class="ti ti-map-pin-filled"></i>
        @RealmName
      </div>
    </div>
    <div class="col-md-auto ms-auto">
      <div class="btn-list">
        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#resetMapEditor">
          Reset
        </a>
        <button class="btn btn-primary" @onclick="HandelSubmit">
          Update
        </button>
      </div>
    </div>
  </div>
</PageHeader>

<div class="container-xl mt-2">
  <ApiErrorAlert Errors="MapEditorViewModel.Errors" />
  <FormSubmissionSuccessAlert Display="MapEditorViewModel.IsSuccess" />
</div>

<!-- Map -->
<div id="navigation-map" class="flex-fill row m-0 g-0">
  <!-- Map -->
  <div id="navigation-map-container" class="col">
    <div id="navigation-map-canvas"></div>

    <div id="navigation-map-tools" class="card">
      <div class="card-body p-0">
        <div class="btn-group">
          <a class="btn dropdown-toggle rounded-0" data-bs-toggle="dropdown">Create</a>
          <div class="dropdown-menu">
            <button class="dropdown-item" @onclick="() => HandleMapEditorModeChange(MapEditorMode.AddWaypoint)">Waypoint</button>
            @if (HasRouteTrafficControl)
            {
              <button class="dropdown-item" @onclick="() => HandleMapEditorModeChange(MapEditorMode.SingleWayTrafficFrom)">Single-way traffic</button>
              <button class="dropdown-item" @onclick="() => HandleMapEditorModeChange(MapEditorMode.BothWaysTrafficFrom)">Two-way traffic</button>
            }
          </div>
          <button class="btn" disabled="@(MapEditorMode == MapEditorMode.Normal)" @onclick="() => HandleMapEditorModeChange(MapEditorMode.Normal)">Cancel</button>
        </div>
      </div>
    </div>

    <div id="navigation-map-buttons" class="card">
      <div class="card-body p-0">
          <div class="btn-group-vertical">
            <button class="btn" onclick="NavigationMapZoomIn()"><i class="ti ti-zoom-in"></i></button>
            <button class="btn" onclick="NavigationMapZoomOut()"><i class="ti ti-zoom-out"></i></button>
        </div>
      </div>
    </div>

    <div id="navigation-map-status" class="card">
      <div class="card-body p-2">
        <div class="row gx-3 align-items-center">
          <p class="col-auto m-0">
            @switch (MapEditorMode) {
              default:
              case MapEditorMode.Normal:
                <text>View Mode</text>
                break;
              case MapEditorMode.SingleWayTrafficFrom:
                <text>Single-way traffic: Select a starting waypoint.</text>
                break;
              case MapEditorMode.SingleWayTrafficTo:
                <text>Single-way traffic: Select an ending waypoint.</text>
                break;
              case MapEditorMode.BothWaysTrafficFrom:
                <text>Two-way traffic: Select a starting waypoint.</text>
                break;
              case MapEditorMode.BothWaysTrafficTo:
                <text>Two-way traffic: Select an ending waypoint.</text>
                break;
              case MapEditorMode.AddWaypoint:
                <text>Select the map to add a waypoint.</text>
                break;
            }
          </p>
          <p class="col-auto m-0">
            @switch (MapEditorError) {
              default:
              case MapEditorError.None:
                <text></text>
                break;
              case MapEditorError.SameWaypoint:
                <text> Error: Cannot select same waypoint.</text>
                break;
              case MapEditorError.HasTraffic:
                <text> Error: The waypoints have traffic rules defined.</text>
                break;
            }
          </p>
          <p id="navigation-map-coordinate" class="col-auto m-0"></p>
        </div>
      </div>
    </div>

    <div id="navigation-map-ruler" class="border border-2 border-top-0 border-dark ps-2">
      1m
    </div>

    <canvas id="navigation-map-hidden-canvas" class="d-none" style="display: none;"></canvas>
  </div>

  <!-- Sidebar -->
  <div id="navigation-map-sidebar" class="col-sm-12 pe-sm-0 pe-md-2 pb-sm-0 pb-md-2">
    <div id="navigation-map-sidebar-info" class="card h-100">
      <div class="card-header">
        <h3 class="mb-0">@(IsEditingWaypoint ? "Waypoint Details" : "Traffic Rules")</h3>
        <button type="button" class="btn-close text-reset ms-auto" onclick="HideSidebar()"></button>
      </div>
      <div class="card-body">
      
          @if (IsEditingWaypoint)
          {
            <EditForm EditContext="@_editContextWaypoint" OnValidSubmit="HandleWaypointSubmit">
              <DataAnnotationsValidator />
              <ApiErrorAlert Errors="EditingWaypoint.Errors" />
              <FormValidationErrorAlert Errors="@_editContextWaypoint.GetValidationMessages()" />
              <WaypointDetailForm Id="EditingWaypoint.Id" HasRouteTrafficControl="HasRouteTrafficControl" WaypointDetailsViewModel="EditingWaypoint" FieldNameWidth="4" />
              <div class="d-flex align-items-center">
                @if (EditingWaypoint.MapEditorObjectId != null && CanDeleteWaypoint)
                {
                  <button type="button" class="btn btn-ghost-danger" @onclick="HandleWaypointDelete">Delete</button>
                }
                <button type="submit" class="btn btn-primary ms-auto">@(EditingWaypoint.MapEditorObjectId != null ? "Update" : "Create")</button>
              </div>
            </EditForm>
          }
          else
          {
            <EditForm EditContext="@_editContextTraffic" OnValidSubmit="HandleTrafficSubmit">
              <DataAnnotationsValidator />
              <ApiErrorAlert Errors="EditingWaypointTraffic.Errors" />
              <FormValidationErrorAlert Errors="@_editContextTraffic.GetValidationMessages()" />
              <WaypointTrafficDetailForm Id="EditingWaypointTraffic.Id" WaypointTrafficViewModel="EditingWaypointTraffic" />
              <div class="d-flex align-items-center">
                @if (EditingWaypointTraffic.MapEditorObjectId != null)
                {
                  <button type="button" class="btn btn-ghost-danger" @onclick="HandleDeleteTraffic">Delete</button>
                }
                <button type="submit" class="btn btn-primary ms-auto">@(EditingWaypointTraffic.MapEditorObjectId != null ? "Update" : "Create")</button>
              </div>
            </EditForm>
          }
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-blur" id="resetMapEditor" tabindex="-1" data-bs-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4 d-flex flex-column">

        <i class="ti ti-alert-triangle text-danger" style="font-size: 48px;"></i>
        <h3 class="mt-3">Reset Map Editor</h3>
        <div class="text-secondary">
          <div class="text-secondary">
            Do you want to reset the map editor?
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col">
              <button type="button" class="btn w-100" data-bs-dismiss="modal">Cancel</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-danger w-100" @onclick="e => HandelResetMapEditor()">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  @if (Realm != null)
  { 
    @($"var MAP_RESOLUTION = {Realm.Resolution};var MAP_ORIGIN_X = {Realm.OriginX};var MAP_ORIGIN_Y = {Realm.OriginY};var MAP_ORIGIN_ROTATION = {Realm.OriginRotation};")
  }
  else
  {
    @($"var MAP_RESOLUTION = 0;var MAP_ORIGIN_X = 0;var MAP_ORIGIN_Y = 0;var MAP_ORIGIN_ROTATION = 0;")
  }
</script>
<style>
body {
  overflow: hidden;
}
footer.footer.footer-transparent {
  display: none;
}
</style>