@using LGDXRobotCloud.UI.ViewModels.Navigation

@if (Id != null)
{
  <div class="mb-3 row">
    <label class="col-@(FieldNameWidth) col-form-label">ID</label>
    <div class="col">
      <div class="col form-control-plaintext">@WaypointDetailsViewModel.Id</div>
    </div>
  </div>
}
<div class="mb-3 row">
  <label class="col-@(FieldNameWidth) col-form-label">Realm</label>
  <div class="col">
    <div class="col form-control-plaintext">@WaypointDetailsViewModel.RealmName</div>
  </div>
</div>
<div class="mb-3 row">
  <label class="col-@(FieldNameWidth) col-form-label required" for="@nameof(WaypointDetailsViewModel.Name)">Name</label>
  <div class="col">
    <InputText id="@nameof(WaypointDetailsViewModel.Name)" type="text" class="form-control" @bind-Value="WaypointDetailsViewModel.Name" />
    <ValidationMessage class="invalid-feedback" For="@(() => WaypointDetailsViewModel.Name)" />
  </div>
</div>
@if (HasRouteTrafficControl)
{
  <div class="mb-3 row">
    <label class="col-@(FieldNameWidth) col-form-label required" for="@nameof(WaypointDetailsViewModel.FeatureId)">Feature ID</label>
    <div class="col">
      <InputNumber id="@nameof(WaypointDetailsViewModel.FeatureId)" type="number" class="form-control" @bind-Value="WaypointDetailsViewModel.FeatureId" />
      <ValidationMessage class="invalid-feedback" For="@(() => WaypointDetailsViewModel.FeatureId)" />
    </div>
  </div>
  <div class="mb-3 row">
  <label class="col-@(FieldNameWidth) col-form-label" for="@nameof(WaypointDetailsViewModel.ClassName)">Class Name</label>
  <div class="col">
    <InputText id="@nameof(WaypointDetailsViewModel.ClassName)" type="text" class="form-control" @bind-Value="WaypointDetailsViewModel.ClassName" />
    <ValidationMessage class="invalid-feedback" For="@(() => WaypointDetailsViewModel.ClassName)" />
  </div>
</div>
}
<div class="mb-3 row">
  <label class="col-@(FieldNameWidth) col-form-label required" for="@nameof(WaypointDetailsViewModel.X)">X (m)</label>
  <div class="col">
    <InputNumber id="@nameof(WaypointDetailsViewModel.X)" type="number" step="any" class="form-control" @bind-Value="WaypointDetailsViewModel.X" />
    <ValidationMessage class="invalid-feedback" For="@(() => WaypointDetailsViewModel.X)" />
  </div>
</div>
<div class="mb-3 row">
  <label class="col-@(FieldNameWidth) col-form-label required" for="@nameof(WaypointDetailsViewModel.Y)">Y (m)</label>
  <div class="col">
    <InputNumber id="@nameof(WaypointDetailsViewModel.Y)" type="number" step="any" class="form-control"  @bind-Value="WaypointDetailsViewModel.Y" />
    <ValidationMessage class="invalid-feedback" For="@(() => WaypointDetailsViewModel.Y)" />
  </div>
</div>
<div class="mb-3 row">
  <label class="col-@(FieldNameWidth) col-form-label" for="@nameof(WaypointDetailsViewModel.Rotation)">Rotation (rad)</label>
  <div class="col">
    <InputNumber id="@nameof(WaypointDetailsViewModel.Rotation)" type="number" step="any" class="form-control" @bind-Value="WaypointDetailsViewModel.Rotation" />
    <ValidationMessage class="invalid-feedback" For="@(() => WaypointDetailsViewModel.Rotation)" />
  </div>
</div>
<div class="mb-3 row align-items-center">
  <label class="col-@(FieldNameWidth) col-form-label">Facilities</label>
  <div class="col">
    <label class="form-check form-check-inline mb-0">
      <InputCheckbox id="@nameof(WaypointDetailsViewModel.IsDocking)" class="form-check-input" @bind-Value=WaypointDetailsViewModel.IsDocking />
      <span class="form-check-label">Docking</span>
    </label>
  </div>
</div>

@code
{
  [Parameter]
  public int? Id { get; set; }

  [Parameter]
  public required bool HasRouteTrafficControl { get; set; }

  [Parameter]
  public required WaypointDetailsViewModel WaypointDetailsViewModel { get; set; }

  [Parameter]
  public int FieldNameWidth { get; set; } = 3;
} 