@using LGDXRobotCloud.Data.Models.Redis

<div class="card h-100">
  <!-- Header -->
  <div class="card-header">
    <h3 class="card-title">Robot Data</h3>
  </div>

  <!-- Data -->
  @if (RobotData != null)
  {
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable">
        <tbody>
          <tr>
            <td>CPU usage</td>
            <td>@RobotData.SystemMonitoringInfo.CpuUsage</td>
          </tr>
          <tr>
            <td>Total Memory</td>
            <td>@RobotData.SystemMonitoringInfo.MemoryTotal</td>
          </tr>
          <tr>
            <td>Used Memory</td>
            <td>@RobotData.SystemMonitoringInfo.MemoryUsed</td>
          </tr>
          <tr>
            <td>Swap Total</td>
            <td>@RobotData.SystemMonitoringInfo.SwapTotal</td>
          </tr>
          <tr>
            <td>Swap Used</td>
            <td>@RobotData.SystemMonitoringInfo.SwapUsed</td>
          </tr>
          <tr>
            <td>Disk Total</td>
            <td>@RobotData.SystemMonitoringInfo.DiskTotal</td>
          </tr>
          <tr>
            <td>Disk Used</td>
            <td>@RobotData.SystemMonitoringInfo.DiskUsed</td>
          </tr>
        </tbody>
      </table>
    </div>
  }
  else
  {
    <p class="text-secondary text-center my-3">The robot is offline.</p>
  }
</div>

@code
{
  // Assign the RobotData from Refresh to prevent full re-rendering 
  private RobotData? RobotData { get; set; }

  public async Task Refresh(RobotData? rd)
  {
    RobotData = rd;
    await InvokeAsync(StateHasChanged);
  }
}