@using LGDXRobotCloud.UI.Client.Models
@using LGDXRobotCloud.UI.ViewModels.Navigation

<div class="card">
  <div class="card-header">
    <h3 class="card-title">System Information</h3>
  </div>
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">
      <tbody>
        <tr>
          <td>CPU Model</td>
          <td>@(RobotSystemInfo != null ? RobotSystemInfo.Cpu : "-")</td>
        </tr>
        <tr>
          <td>CPU Architecture</td>
          <td>@(RobotSystemInfo != null ? RobotSystemInfo.CpuArchitecture : "-")</td>
        </tr>
        <tr>
          <td>CPU Cores</td>
          <td>@(RobotSystemInfo != null ? RobotSystemInfo.CpuCores : "-")</td>
        </tr>
        <tr>
          <td>CPU Endianness</td>
          <td>@(RobotSystemInfo != null ? ((bool)RobotSystemInfo.IsLittleEndian! ? "Little-endian" : "Big-endian") : "-")
          </td>
        </tr>
        <tr>
          <td>RAM Size</td>
          <td>@(RobotSystemInfo != null ? RobotSystemInfo.RamMiB + " MB" : "-")</td>
        </tr>
        <tr>
          <td>Motherboard Model</td>
          <td>@(RobotSystemInfo != null ? RobotSystemInfo.Motherboard : "-")</td>
        </tr>
        <tr>
          <td>Motherboard Serial Number</td>
          <td>@(RobotSystemInfo != null ? RobotSystemInfo.MotherboardSerialNumber : "-")</td>
        </tr>
        <tr>
          <td>GPU Model</td>
          <td>@(RobotSystemInfo?.Gpu != null ? RobotSystemInfo?.Gpu : "-")</td>
        </tr>
        <tr>
          <td>Operation System</td>
          <td>@(RobotSystemInfo != null ? RobotSystemInfo.Os : "-")</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

@code
{
  [Parameter]
  public RobotSystemInfoDto? RobotSystemInfo { get; set; }
}